<div class="container">
    <div class="row">
        <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
            <h1 class="page-header">Add Profile Picture</h1>
            <%= form_with(model: current_user.account, local: true) do |f|%>
                <%= f.file_field :avatar, class: "form-control" %>
            <br/><br/>            
                <%= f.submit "Add Picture", class: "btn btn-danger" %>
            <% end %>
            <br/><br/>            
            <br/><br/>            
            <br/><br/>            
            <br/><br/>            
        </div>
    </div>
</div>
