<div class="container text-center">
  <div class="jumbotron jumbotron-fluid py-4 px-4 rounded">
    <h2 class="text-warning">
      You're booking has gone through.
      <span class="fa fa-check text-success">
      </span>
    </h2>
    <p class="lead py-4">
      Call us within 24 hrs to secure booking.
    </p>
    <%= link_to "back to home", root_path, class: "btn btn-primary btn-lg"%>
  </div>
</div>
