<div class="container">
    <div class="row">
        <div class="row">
            <%= render 'site/topbar' %> 
        </div>
        <br>
        <div class="row">
            <h1 class="page-header">New Event</h1>
        </div>
        <div class="row">
            <%= render 'form', event: @event %>
        </div>
        <div class="row">
            <br/><br/>
            <%= link_to 'Back', events_path, class:"btn btn-danger" %>
        </div>
    </div>
</div>
