<!DOCTYPE html>
<html>
    <head>
        <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    </head>

    <body>
        <h1>Hi, <%= @user.account.name %> </h1>
        <p>
        Thank you for your booking, we will be in touch soon to confirm your booking.
        </p>
        <p>Regards, <br><br>Partuma Lodge</p>
    </body>
</html>
