<!DOCTYPE html>
<html>
    <head>
        <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    </head>

    <body>
        <h1>Hello!</h1>
        <p>
            We have a new booking from, <br>
            <%= @user.email %>
        </p>
        <!-- inser links here -->
        <p class="lead">Go to Dashboard to manage </p>

        <p>Regards, <br><br>Partuma Lodge</p>
    </body>
</html>
