<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 col-lg-2 sidebar hidden-xs">
            <%= render 'site/sidebar' %> 
        </div>
        <div class="col-sm-offset-1 col-sm-8 col-md-8 col-lg-offset-1 col-lg-8">
            <div class="row">
                <h1 class="page-header">Add Room</h1>
            </div>

            <div class="row">
                <%= render 'form', room: @room %>
            </div>
        </div>
    </div>
</div>
<div class="row" style="height: 400px;"></div>
