<div class="row">
    <p class="text-muted">Menu</p>
    <ul class="nav nav-pills nav-stacked">
        <li><%= link_to "Bookings", bookings_path %></li>
        <li><%= link_to "Users", users_path %></li>
    </ul>
    <br/>
    <div class="row">
        <p class="text-muted">Quick Links</p>
        <ul class="nav nav-pills nav-stacked">
            <li><%= link_to "Add Room", new_room_path%></li>
            <li><%= link_to "Create Event", "#"%></li>
        </ul>
    </div>
</div>
