<div class="container">
    <div class="row">
        <div class="col-md-4 hidden-xs hidden-sm">
            <div class="row">
                <h3 class="text-muted">The Team</h3>
            </div>  
        </div>
        <div class="col-md-6">
            <div class="row">
                <h2 class="page-header">About-us</h2>
            </div>
            <div class="row">
                <h3 class="text-muted">Company</h3>
                <p class="lead">
                Partuma Lodge and Jazz Club is an accommodation and hospitality establishment which has been officially operating for more than 3 years under 100% woman-ownership and management. The name Partuma is a combination of two names/locations (Parys and Tumahole) and it was named so because it is situated in between Parys Town and Tumahole Township. 
                </p>
            </div>  
            <div class="row">
                <h3 class="text-muted">Our Culture</h3>
                <p class="lead">
               We share a common corporate culture, organizational goal, vision, and spirit of service excellence throughout all departments (management, reception, accommodation, conference, kitchen, housekeeping, entertainment, ground staff and security services). 
                </p>
            </div>  
            <div class="row">
                <h3 class="text-muted">Our Vision</h3>
                <p class="lead">
               Our main objective is to develop and add more facilities and increased services as we grow through the years. We strive to consistently meet the standards set out by the Tourism Grading Council of South Africa and continue to abide by the rules and regulations set out by the Free State Tourism Authority, Occupational Health and Safety and other relevant parties. 
                </p>
            </div>  
            <div class="row">
                <h3 class="text-muted">Future Prospects</h3>
                <p class="lead">
                Within the next 5 years, the establishment will expand and accommodate many more customers to their uttermost satisfaction. We will continue to improve the level of our service standard adding more stars to our reputation. We will also continue to bring bigger and better entertainment for our important customers.</p>
            </div>  
        </div>
        <div class="col-xs-10 hidden-md hidden-lg">
            <div class="row">
                <h3 class="text-muted">The Team</h3>
            </div>  
        </div>
    </div>
</div>
