<div class="container">
  <div class="text-center py-5">
    <h2 class="text-warning">About Us</h2>
  </div>
  <div class="text-center py-4">
    <h4 class="text-muted">Company</h4>
    <p class="lead py-2">
      Partuma Lodge and Jazz Club is an accommodation and hospitality establishment which has been officially operating for more than 3 years under 100% woman-ownership and management. The name Partuma is a combination of two names/locations (Parys and Tumahole) and it was named so because it is situated in between Parys Town and Tumahole Township. 
    </p>
  </div>  
  <div class="text-center py-4">
      <h4 class="text-muted">Our Culture</h4>
      <p class="lead py-2">
     We share a common corporate culture, organizational goal, vision, and spirit of service excellence throughout all departments (management, reception, accommodation, conference, kitchen, housekeeping, entertainment, ground staff and security services). 
      </p>
  </div>  
  <div class="text-center py-4">
    <h4 class="text-muted">Our Vision</h4>
    <p class="lead py-2">
     Our main objective is to develop and add more facilities and increased services as we grow through the years. We strive to consistently meet the standards set out by the Tourism Grading Council of South Africa and continue to abide by the rules and regulations set out by the Free State Tourism Authority, Occupational Health and Safety and other relevant parties. 
      </p>
  </div>  
  <div class="text-center py-4">
    <h4 class="text-muted">Future Prospects</h4>
    <p class="lead py-2">
      Within the next 5 years, the establishment will expand and accommodate many more customers to their uttermost satisfaction. We will continue to improve the level of our service standard adding more stars to our reputation. We will also continue to bring bigger and better entertainment for our important customers.</p>
  </div>  
</div>
