<div class="container">
    <div class="row">
        <h1 class="page-header">Change profile picture</h1>
    </div>
    <div class="row">
        <%= form_tag(model: account, local: true)%> 
            
        <% end %>
    </div>
</div>
