<% if current_user.admin? %>
<div class="container-fluid">
    <div class="row col-sm-11 col-md-11 col-lg-11 main-dashboard">
        <div class="row">
            <%= render "site/topbar"%>
        </div>

        <div class="row">
            <h2 class="page-header text-muted">Manage Events</h2>
            <%= link_to "Add Event", new_event_path, class: "btn btn-danger btn-lg"%>
            <br>
            <br>
        </div>

        <div class="row">
            <h2 class="page-header text-muted">Manage Rooms</h2>
            <%= link_to "Go to Rooms", rooms_path, class: "btn btn-danger btn-lg"%>
            <br>
            <br>
        </div>
        <div class="row" style="height: 200px;"></div>
    </div>
</div>
<% end %>
