<div class="container-fluid">
    <div class="row col-sm-11 col-md-11 col-lg-11 main-dashboard">
        <div class="row">
            <%= render "site/topbar"%>
        </div>

        <div class="row">
            <h2 class="page-header text-muted">Manage Events</h2>
            <%= link_to "Add Event", new_event_path, class: "btn btn-danger btn-lg"%>
        </div>
    </div>
</div>
