<div class="container-fluid">
    <div class="row col-sm-11 col-md-11 col-lg-11 main-dashboard">
        <div class="row">
            <%= render "topbar"%>
        </div>

        <div class="row">
            <h1 class="page-header text-muted">Posts</h1>  
            <br>
            <% (@posts).each do |post|%>
                <div class="media">
                    <div class="media-left">
                        <p class="text-muted pull-left lead"><%= 1 %></p>
                    </div>
                    <div class="media-body">
                        <p class="lead"><%= link_to post.title, post %></p>  
                        <p class="text-muted">created <%= time_ago_in_words(post.created_at)%> ago.</p>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
</div>
