<div class="container">
    <div class="row">
        <h1 class="page-header">Contact-us</h1>
    </div>
    <div class="row">
        <p class="lead">
            Call us: +27 56 817 1123
            Email Us: partuma.lodge@gmail.com
        </p>
    </div>
</div>
