<% title "how to book in Parys "%>
<% meta_tag :description, 'Book us for a couple of days' %>
<% meta_tag :keywords, 'Partuma, parys, wedding, hosting, venue, free state' %>
<div class="container">
  <div class="text-center py-5">
    <h2 class="text-warning">Contact Us</h2>
  </div>
  <div class="py-2 mx-2">
    <div class="alert alert-warning">
        <a class="close" href="#" data-dismiss="alert">x</a>
        <p>We are open from 07h00 until 22h00 for phone calls.</p>
    </div>
  </div>
  <div class="text-center">
    <p class="text-warning">
      <strong> Call us:</strong>
      <br/>
      +27 56 817 1123
    </p>
    <p class="text-warning">
      <strong> Email us:</strong>
      <br/>
          partuma.lodge@gmail.com
    </p>  
    <p class="text-warning">
      <strong> Address:</strong>
      <br/>
      2 Schochet St<br/>
      Parys Industria, Parys<br/>
      9585<br/>
      South Africa
    </p>  
  </div>
  <div class="text-center py-5">
    <h2 class="text-warning py-4">Find us</h2>
    <%= image_tag("maps_find_us", style: "max-width: 100%;")%>
  </div>
</div>
