<div class="container">
    <div class="row">
        <h1 class="page-header text-muted">Contact-us</h1>
    </div>
    <div class="row">
        <div class="alert alert-danger">
            <a class="close" href="#" data-dismiss="alert">x</a>
            <p>We are open from 07h00 until 22h00 for phone calls.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-4 col-sm-3 col-md-2 col-lg-2">
            <p class="lead"><strong> Call us:</strong></p>  
            <p class="lead"><strong> Email us:</strong></p>  
            <p class="lead"><strong> Address:</strong></p>  
        </div>
        <div class="col-xs-8 col-sm-6 col-md-6 col-lg-6">
            <p class="lead">
            +27 56 817 1123
            </p>
            <p class="lead">
                partuma.lodge@gmail.com
            </p>
            <p class="lead">

            2 Schochet St<br/>
            Parys Industria, Parys<br/>
            9585<br/>
            South Africa

            </p>
        </div>  
    </div>
    <div class="row">
        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
            <h1 class="page-header text-muted">Find us</h1>
        </div>
    </div>
</div>
