<div class="container">
    <div class="row">
        <div class="wrapper-row">
            <h1 class="rooms-header">Contact Us</h1>
        </div>
        <br/>
    </div>
    <div class="row">
        <div class="alert alert-danger">
            <a class="close" href="#" data-dismiss="alert">x</a>
            <p>We are open from 07h00 until 22h00 for phone calls.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-4 col-sm-3 col-md-2 col-lg-2">
            <p class="lead"><strong> Call us:</strong></p>  
            <p class="lead"><strong> Email us:</strong></p>  
            <p class="lead"><strong> Address:</strong></p>  
        </div>
        <div class="col-xs-8 col-sm-6 col-md-6 col-lg-6">
            <p class="lead">
            +27 56 817 1123
            </p>
            <p class="lead">
                partuma.lodge@gmail.com
            </p>
            <p class="lead">

            2 Schochet St<br/>
            Parys Industria, Parys<br/>
            9585<br/>
            South Africa

            </p>
        </div>  
    </div>
    <div class="row">
        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
            <h1 class="page-header text-muted">Find us</h1>
            <div class="mapouter"><div class="gmap_canvas"><iframe width="800" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=2%20Schochet%20St%2C%20Parys%20Industria%2C%20Parys%2C%209585&t=&z=17&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://www.pureblack.de">website erstellen lassen</a></div><style>.mapouter{text-align:right;height:500px;width:800px;}.gmap_canvas {overflow:hidden;background:none!important;height:500px;width:800px;}</style></div>
        </div>
        
    </div>
</div>
