<% if current_user.admin? %>             
<div class="row">
<div class="jumbotron">
    <h1 class="text-center text-muted">partuma.co.za</h1>
    <p class="text-center lead">Site is undergoing some technical maintenance, will be back soon.</p>
</div>
</div>
<% end %>
