<div class="container">
    <div class="row">
        <h1 class="page-header">Hello, <%= @user.account.name %></h1>
    </div>
    
    <% if !@user.avatar.attached? %>
    <div class="row">
        <h3 class="text-muted">Add Profile Picture</h3>
        
        <%= link_to "Add Profile Picture", edit_account_path(@user.account.id), class: "btn btn-primary btn-lg" %>
    </div>
    <% else %>
     
    <div class="row">
        <%= image_tag(current_user.avatar, class: "img-circle-profile") %>
        <br>
        <br>
        <br>
        <br>
        <h3 class="text-muted">Change Profile Picture</h3>
        <%= link_to "Add Profile Picture", avatar_create_path, class: "btn btn-primary btn-lg" %>
    </div>
    <% end %>
    <div class="row" style="height: 300px;"></div>
</div>
