@import "_variables";

@mixin nav-bar($color) {
    min-height: 60px;
    background-color: #fff;
    border-bottom: none;
}

@mixin booking-form($color){

    padding: 30px;
    background-color: $color;
    min-height: 50vh;


    h2
    {
        font-weight: 900;
        padding-top: 40px;
        padding-bottom: 80px;
        line-height: 35px;
        color: #fff;
    }
}
