/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "variables";
@import "bootstrap";
@import "font-awesome";
@import "jquery.ui.core";
@import "jquery.ui.all";
@import "avatar";
@import "site";
@import "rooms";
@import "theme";
@import "datepicker.css";


body
{
    x-overflow: hidden;
}

.navbar .navbar-brand
{
    font-weight: 800;
    letter-spacing: 2px;
    font-size: 26px;
    color: $primary;
}
.navbar .lg-navbar .nav-item .nav-link
{
    color: #fff;
}
.navbar .lg-navbar .nav-item .active
{
    border: 1px solid $primary;
    border-radius: 5px;
}
.index-0
{
    //background-color: $secondary;
    min-height: 100vh;
    @media(min-width: 768px)
    {
        min-height: 75vh;
    }
    h1
    {
        font-weight: 800;  
        line-height: 1.4;
        font-size: 2.5em;
        color: $warning;
    }
    p
    {
        font-size: 1.0em;
        line-height: 1.4;
        text-align: justify;
    }

}

.footer
{
    background-color: $secondary;
}
