// Place all the styles related to the site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "variables";

$padding-left: 150px;

.btn
{
    border-radius: 2px;
    text-width: 400px;
}
/* Small devices (smartphones, 425px and down) */

.mapouter
{
    background: linear-gradient(to bottom, transparent, $primary-color), url("maps_find_us.png");
}
.index-0
{
    height: 90vh;
    position: relative;

    .index-header
    {
        padding-top: 20px;
        font-weight: 1000;
        font-size: 2.8em;
        letter-spacing: 2px;
        /*text-transform: uppercase;*/
    }
    .index-par
    {
        padding-top: 40px;
        font-size: 2.4em;
        font-weight: 600;
        text-transform: uppercase;
    }
}

.explore-p
{
    min-height: 40vh; 
    padding: 50px;
    background: #f2f2f2;
    position: relative;

    h2
    {
        padding-left: 20px;
        font-weight: 800;
        line-height: 1.6em;
        color: $primary-color;
    }

    .media
    {
        margin-top: 30px;
        border: 1px solid #fff;
        border-radius: 5px;
        background: #fff;
        color: $primary-color;
    }
    .explore-left
    {
        background-image: url('bed.jpeg');
        width: 80%; 
        height: 100%;
    }

    .media-body
    {
        padding: 15px; 
        
        h1
        {
            font-weight: 800;
            font-size: 1.7em;
            line-height: 2.1em;

            a
            {
                text-decoration: none; 
                color: $primary-color;
            }
        }

    }
}
.venue-row
{
    min-height: 80vh;
    color: white;
    padding-top: 50px;
    position: relative;
}
.venue-row .img-thumnail
{
    padding: 15px;
    width: 100%;
    border-radius: 5px;
}

    .venue-row .about-details
    {
        padding-top: 40px;
        padding-left: 50px;
        h2
        {
            font-size: 3.8em;
            font-weight: 800;
            color: $primary-color;
        }

        p
        {
            color: black; 
            font-size: 1.6em;
        }
    }

.info
{
    min-height: 50vh;
    background: #f2f2f2;

    h2
    {
        padding-top: 60px;
        font-weight: 800;
        font-size: 1.9em;
        color: $primary-color;
    }

    p
    {
        padding-top: 30px;
        font-size: 1.4em; 
        line-height: 1.2em;
        letter-spacing: 0.10em;
        text-align: justify;
        width: 100%;
    }
}

    .events-row
    {
        min-height: 60vh;

        h1
        {
            padding-top: 60px;
            font-weight: 800;
            font-size: 2.4em;
            color: $primary-color;
        }

        .dates-form
        {
            padding-left: 15vw;
            padding-top: 60px;
        }
    }

.contact
{
    min-height: 35vh; 
    padding: 30px;
    
    h1
    {
        padding-top: 40px; 
        font-weight: 800;
        font-size: 3.4em;
        color: $primary-color;
    }
    h4
    {
        padding-top: 40px; 
        font-weight: 800;
        font-size: 1.4em;
        
    }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px ) 
{
    .mapouter
    {
        background: linear-gradient(to bottom, transparent, $primary-color), url("maps_find_us.png");
    }

    .main-dashboard
    {
        position: relative;
        padding-left: $padding-left;
    }

    .index-0
    {
        min-height: 50vh;
    }

    .index-0 .index-header
    {
        padding-top: 40px;
        font-weight: 800;
        line-height: 1.7em;
        font-size: 4.0em;
        letter-spacing: 5px;
    }
    .index-0 .index-par
    {
        padding-top: 30px;
        font-size: 3.0em;
    }


    .explore-p
    {
        min-height: 40vh; 
        padding: 50px;
        background: #f2f2f2;
        position: relative;

        h2
        {
            padding-left: 20px;
            font-weight: 800;
            line-height: 1.6em;
            color: $primary-color;
        }



        .media
        {
            border: 1px solid #fff;
            border-radius: 5px;
            background: #fff;
            color: $primary-color;
        }
        .explore-left
        {
            background-image: url('bed.jpeg');
            width: 80%; 
            height: 100%;
        }


        .media-body
        {
            padding: 15px; 
            
            h1
            {
                font-weight: 800;
                font-size: 1.7em;
                line-height: 2.1em;

                a
                {
                    text-decoration: none; 
                    color: $primary-color;
                }
            }

        }
    }
    .venue-row
    {
        min-height: 50vh;
        color: white;
        padding-top: 50px;
        position: relative;
    }
    .venue-row .img-thumnail
    {
        padding: 15px;
        width: 100%;
        border-radius: 5px;
    }

    .venue-row .about-details
    {
        padding-top: 100px;
        padding-left: 50px;
        h2
        {
            font-size: 3.8em;
            font-weight: 800;
            color: $primary-color;
        }

        p
        {
            color: black; 
            font-size: 1.4em;
        }
    }

    .info
    {
        min-height: 40vh;
        background: #f2f2f2;

        h2
        {
            padding-top: 60px;
            font-weight: 800;
            font-size: 2.8em;
            color: $primary-color;
        }

        p
        {
            padding-top: 60px;
            font-size: 1.4em; 
            line-height: 1.2em;
            width: 100%;
        }
    }

    .events-row
    {
        min-height: 40vh;

        h1
        {
            padding-top: 60px;
            font-weight: 800;
            font-size: 3.4em;
            color: $primary-color;
        }

        .dates-form
        {
            padding-left: 10vw;
            padding-top: 60px;
        }
    }


    .contact
    {
        min-height: 25vh; 
        
        h1
        {
            font-weight: 800;
            font-size: 3.4em;
            color: $primary-color;
        }
        h4
        {
            padding-top: 60px; 
        }
    }

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px ) 
{
    .mapouter
    {
        background: linear-gradient(to bottom, transparent, $primary-color), url("maps_find_us.png");
    }

    .main-dashboard
    {
        position: relative;
        padding-left: $padding-left;
    }

    .index-0
    {
        min-height: 60vh;
        color: #2A2D34;
    }

    .index-0 .index-header
    {
        padding-top: 30px;
        font-weight: 800;
        line-height: 1.7em;
        font-size: 4.0em;
        letter-spacing: 5px;
    }
    .index-0 .index-par
    {
        padding-top: 80px;
        font-size: 3.0em;
    }


    .explore-p
    {
        min-height: 40vh; 
        padding: 50px;
        background: #f2f2f2;
        position: relative;

        h2
        {
            padding-left: 20px;
            font-weight: 800;
            line-height: 1.6em;
            color: $primary-color;
        }



        .media
        {
            border: 1px solid #fff;
            border-radius: 5px;
            background: #fff;
            color: $primary-color;
        }
        .explore-left
        {
            background-image: url('bed.jpeg');
            width: 80%; 
            height: 100%;
        }


        .media-body
        {
            padding: 15px; 
            
            h1
            {
                font-weight: 800;
                font-size: 1.7em;
                line-height: 2.1em;

                a
                {
                    text-decoration: none; 
                    color: $primary-color;
                }
            }

        }
    }
    .venue-row
    {
        min-height: 80vh;
        color: white;
        padding-top: 50px;
        position: relative;

    }
    .venue-row .img-thumnail
    {
        padding: 15px;
        width: 100%;
        border-radius: 5px;
    }

    .venue-row .about-details
    {
        padding-top: 100px;
        padding-left: 50px;
        h2
        {
            font-size: 3.8em;
            font-weight: 800;
            color: $primary-color;
        }

        p
        {
            padding-top: 60px;
            font-size: 1.7em;
            text-align: left;
            color: black; 
        }

        .btn-p
        {
            padding-top: 60px;
        }
    }

    .info
    {
        min-height: 40vh;
        background: #f2f2f2;

        h2
        {
            padding-top: 60px;
            font-weight: 800;
            font-size: 3.4em;
            color: $primary-color;
        }

        p
        {
            padding-top: 60px;
            font-size: 1.4em; 
            line-height: 1.2em;
            width: 100%;
        }
    }

    .events-row
    {
        min-height: 50vh;

        h1
        {
            padding-top: 60px;
            font-weight: 800;
            font-size: 3.4em;
            color: $primary-color;
        }

        .dates-form
        {
            padding-left: 20vw;
            padding-top: 60px;
        }
    }


    .contact
    {
        min-height: 25vh; 
        
        h1
        {
            font-weight: 800;
            font-size: 3.4em;
            color: $primary-color;
        }
        h4
        {
            padding-top: 60px; 
        }
    }

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px ) 
{
    .mapouter
    {
        background: linear-gradient(to bottom, transparent, $primary-color), url("maps_find_us.png");
    }

    .main-dashboard
    {
        position: relative;
        padding-left: $padding-left;
    }

    .index-0
    {
        height: 65vh;
        color: #2A2D34;
    }

    .index-0 .index-header
    {
        padding-top: 60px;
        font-weight: 800;
        line-height: 1.7em;
        font-size: 4.0em;
        letter-spacing: 5px;
    }
    .index-0 .index-par
    {
        color: $secondary-dark;
        padding-top: 40px;
        font-size: 3.3em;
        font-weight: 900;
        text-transform: uppercase;
    }


    .explore-p
    {
        min-height: 50vh; 
        padding: 50px;
        background: $secondary-color;
        position: relative;

        h2
        {
            padding-left: 20px;
            font-weight: 800;
            font-size: 2.8em;
            line-height: 2.4em;
            color: #fff;
        }


        .services
        {
            padding-top: 50px; 
        }

        .media
        {
            border: 1px solid #fff;
            border-radius: 5px;
            background: #fff;
            color: $primary-color;
        }
        .explore-left
        {
            background-image: url('bed.jpeg');
            width: 80%; 
            height: 100%;
        }


        .media-body
        {
            padding: 15px; 
            
            h1
            {
                font-weight: 800;
                font-size: 1.7em;
                line-height: 2.1em;

                a
                {
                    text-decoration: none; 
                    color: $primary-color;
                }
            }

        }
    }
    .venue-row
    {
        height: 80vh;
        color: white;
        padding-top: 50px;
        position: relative;

    }
    .venue-row .img-thumnail
    {
        padding: 15px;
        width: 100%;
        border-radius: 5px;
    }

    .venue-row .about-details
    {
        padding-top: 100px;
        padding-left: 50px;
        h2
        {
            font-size: 3.8em;
            font-weight: 800;
            color: $primary-color;
        }

        p
        {
            padding-top: 60px;
            font-size: 1.7em;
            text-align: left;
            color: black; 
        }

        .btn-p
        {
            padding-top: 60px;
        }
    }
    .info
    {
        min-height: 50vh;

        h2
        {
            padding-top: 60px;
            font-weight: 800;
            font-size: 3.4em;
            color: $primary-color;
        }

        p
        {
            padding-top: 60px;
            font-size: 1.8em; 
            line-height: 1.4em;
            letter-spacing: 2px;
            width: 100%;
        }
    }

    .events-row
    {
        min-height: 60vh;
        background: url("above-art-lg.jpeg");
        background-repeat: no-repeat;
        background-size: cover;

        h1
        {
            padding-top: 60px;
            font-weight: 800;
            font-size: 3.4em;
            color: #fff;
        }

        .dates-form
        {
            padding-left: 15vw;
            padding-top: 60px;
        }
    }


    .contact
    {
        min-height: 35vh; 
        
        h1
        {
            font-weight: 800;
            font-size: 3.4em;
            color: $primary-color;
            padding-top: 50px; 
        }
        h4
        {
            padding-top: 60px; 
            font-size: 2.4em;
            font-weight:600;
        }
    }

}

.sidebar
{
    background-color: $primary-color;
    height: 100vh;
    color: #fff;
    margin-top: -20px;
    position: relative;
}

.sidebar .nav li 
{
    padding: 15px;
}
.sidebar .nav li a
{
    color: #fff;
    font-size: 1.4em;
    padding: 10px;
}

.sidebar ul li a:hover
{
    color: $primary-color;
    background-color: #fff;
}

.sidebar p
{
    color: white;
    font-size: 1.8em;
    padding-top: 50px;
    padding-left: 50px;
}
.main-wrapper
{
    margin-left: 50px;
}
