// Place all the styles related to the site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.sidebar
{
    padding: 15px;
    margin-left: 50px;
}

.main-wrapper
{
    margin-left: 50px;
}

.index-0
{
    height: 500px;
    background-image: url('room_interior.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.index-0 h1
{
    padding-left: 180px;
    padding-top: 120px;
    font-size: 3.8em;
    font-weight: 600;
}

.index-0 p
{
    padding-left: 180px;
    padding-top: 50px;
    font-size: 2.2em;
    font-weight: 400;
}

.venue-row
{
    height: 500px;
    background-color: rgba(173,111,39,0.73);
    color: white;
}
.venue-row h1
{
    font-size: 3.2em;
}

.venue-row p {
    padding-top: 30px;
    font-size: 2.8em;
}

.venue-row .venue-room
{
    height: 300px;
    padding-top: 60px;
}

.home-row
{
    height: auto;
    padding-top: 50px;
}
.home-row h2
{
   font-size: 3.2em; 
}
.home-row p
{
   padding-top: 30px; 
   height: 180px;
}
.home-row .img-venue-1
{
    background-image: url("lp_birth.jpeg");
    height: 300px;
    border-radius: 15px;
    padding-top: 30px; 
    margin-right: 10px;
    margin-left: 30px;
}
.home-row .img-venue-3
{
    background-image: url("anc.jpg");
    height: 180px;
    border-radius: 15px;
   padding-top: 30px; 
    margin-right: 10px;
}
.home-row .img-venue-4
{
    background-image: url("anc_9.jpg");
    height: 300px;
    border-radius: 15px;
   padding-top: 30px; 
}

.events-row
{
    height: 500px;
}

.events-row h2
{
    padding-top: 50px;
    font-size: 3.2em;
}
.events-row p
{
    padding-top: 50px;
}
