// Place all the styles related to the site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/* Small devices (tablets, 425px and down) */
@media (max-width: 425px ) 
{
    .index-0
    {
        height: 70vh;
        background-color: #fca311;
        color: #fff;
        margin-top: -20px;
    }

    .index-0 .index-par
    {
        padding-left: 60px;
        padding-top: 120px;
        font-size: 2.2em;
        font-weight: 400;
    }

    .index-0 .div-btn
    {
        padding-left: 60px;
    }

    .home-row
    {
        height: auto;
        padding-top: 50px;
    }

    .home-row .home-row-header
    {
       font-size: 2.8em; 
       font-weight: 600;
    }

    .home-row .home-row-p
    {
       padding-top: 30px; 
       padding: 50px;
       height: 180px;
       font-size: 1.4em; 
       font-weight: 200;
    }
    .home-row .venue-room
    {
        height: 300px;
        padding-top: 40px;
    }

    .venue-row
    {
        height: 600px;
        background-color: #fca311;
        color: white;
    }
    .venue-row .venue-header
    {
        font-size: 2.8em;
        font-weight: 600;
        padding: 15px;
    }

    .venue-row .venue-p {
        padding: 30px;
        font-size: 1.8em;
        font-weight: 400;
    }

    .venue-row .venue-room
    {
        height: 300px;
        padding-top: 40px;
    }
    
    .events-row
    {
        height: 600px;
    }

    .events-row .events-header
    {
        padding-top: 50px;
        font-size: 2.8em;
        font-weight: 600;
    }
.events-row .events-p
{
    padding-top: 50px;
    font-size: 1.8em;
    font-weight: 400;
}
}


/* Small devices (tablets, 768px and up) */
@media (min-width: 768px ) 
{

    .index-0
    {
        height: 60vh;
        background-color: #fca311;
        color: #fff;
        margin-top: -20px;
    }

    .index-0 .index-par
    {
        padding-left: 60px;
        padding-top: 120px;
        font-size: 2.2em;
        font-weight: 400;
    }

    .index-0 .div-btn
    {
        padding-left: 60px;
    }
    .home-row
    {
        height: auto;
        padding-top: 50px;
    }

    .home-row .home-row-header
    {
       font-size: 2.4em; 
       font-weight: 600;
    }

    .home-row .home-row-p
    {
       padding-top: 30px; 
       padding: 50px;
       height: 180px;
       font-size: 1.4em; 
       font-weight: 200;
    }
    .home-row .venue-room
    {
        height: 300px;
        padding-top: 40px;
    }
    .venue-row
    {
        height: 600px;
        background-color: #fca311;
        color: white;
    }
    .venue-row .venue-header
    {
        font-size: 2.4em;
        font-weight: 600;
        padding: 15px;
    }

    .venue-row .venue-p {
        padding: 30px;
        font-size: 1.8em;
        font-weight: 400;
    }

    .venue-row .venue-room
    {
        height: 300px;
        padding-top: 40px;
    }
    
    .events-row
    {
        height: 600px;
    }

    .events-row .events-header
    {
        padding-top: 50px;
        font-size: 2.4em;
        font-weight: 600;
    }
    .events-row .events-p
    {
        padding-top: 50px;
        font-size: 1.8em;
        font-weight: 400;
    }

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px ) 
{
    .index-0
    {
        height: 60vh;
        background-color: #fca311;
        color: #fff;
        margin-top: -20px;
    }

    .index-0 .index-par
    {
        padding-left: 60px;
        padding-top: 100px;
        font-size: 2.8em;
        font-weight: 800;
    }

    .index-0 .div-btn
    {
        margin-left: 0px;
    }
    .home-row
    {
        height: auto;
        padding-top: 50px;
    }

    .home-row .home-row-header
    {
       font-size: 3.4em; 
       font-weight: 600;
    }

    .home-row .home-row-p
    {
       padding-top: 30px; 
       padding: 50px;
       height: 180px;
       font-size: 1.8em; 
       font-weight: 200;
    }
    .home-row .venue-room
    {
        height: 300px;
        padding-top: 40px;
        margin-left: 50px;
    }
    .venue-row
    {
        height: 600px;
        background-color: #fca311;
        color: white;
    }
    .venue-row .venue-header
    {
        font-size: 3.4em;
        font-weight: 600;
        padding: 15px;
    }

    .venue-row .venue-p {
        padding: 30px;
        font-size: 1.8em;
        font-weight: 400;
    }

    .venue-row .venue-room
    {
        height: 300px;
        padding-top: 40px;
    }
    
    .events-row
    {
        height: 600px;
    }

    .events-row .events-header
    {
        padding-top: 50px;
        font-size: 3.4em;
        font-weight: 600;
    }
    .events-row .events-p
    {
        padding-top: 50px;
        font-size: 1.8em;
        font-weight: 400;
    }


}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px ) 
{

    .index-0
    {
        height: 60vh;
        background-color: #fca311;
        color: #fff;
        margin-top: -20px;
    }

    .index-0 .index-par
    {
        padding-left: 80px;
        padding-top: 120px;
        font-size: 3.2em;
        font-weight: 800;
    }

    .index-0 .div-btn
    {
        margin-left: 20px;
    }
    .home-row
    {
        height: auto;
        padding-top: 50px;
    }

    .home-row .home-row-header
    {
       font-size: 3.4em; 
       font-weight: 600;
    }

    .home-row .home-row-p
    {
       padding-top: 30px; 
       padding: 50px;
       height: 180px;
       font-size: 1.8em; 
       font-weight: 200;
    }
    .home-row .venue-room
    {
        height: 300px;
        padding-top: 40px;
        margin-left: 50px;
    }
    .venue-row
    {
        height: 600px;
        background-color: #fca311;
        color: white;
    }
    .venue-row .venue-header
    {
        font-size: 3.4em;
        font-weight: 600;
        padding: 15px;
    }

    .venue-row .venue-p {
        padding: 30px;
        font-size: 1.8em;
        font-weight: 400;
    }

    .venue-row .venue-room
    {
        height: 300px;
        padding-top: 40px;
    }
    
    .events-row
    {
        height: 400px;
    }

    .events-row .events-header
    {
        padding-top: 50px;
        font-size: 3.4em;
        font-weight: 600;
    }
    .events-row .events-p
    {
        padding-top: 50px;
        font-size: 1.8em;
        font-weight: 400;
    }


}

.sidebar
{
    padding: 15px;
    margin-left: 50px;
}

.main-wrapper
{
    margin-left: 50px;
}
