<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
      <a class="navbar-brand text-warning" href="/">
          partuma
      </a>
      <!-- Brand and toggle get grouped for better mobile display -->
      <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar-01" aria-expanded="false">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="navbar-01">
        <ul class="navbar-nav ml-auto">
          <% if user_signed_in? %>
            <% if current_user.admin? %>
                <li class="nav-item"><a class="nav-link" href="/dashboard">dashboard</a></li>
            <% end %>

            <li class="nav-item"><a class="nav-link" href="/blog">Blog</a></li>
            <li class="nav-item"><%= link_to "Profile",profile_url, class: "nav-link"%></li>
            <li class=""><%= link_to "LOGOUT",destroy_user_session_path, method: :delete, class: "nav-link active"%></li>
        <% else %>
            <li class="nav-item"><a class="nav-link" href="/venues">Venues</a></li>
            <li class="nav-item"><a class="nav-link" href="/rooms">Rooms</a></li>
            <li class="nav-item"><a class="nav-link" href="/events">Jazz</a></li>
          <% end %>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
