<div class="container">
    <div class="row">
        <h1 class="page-header">Account Information</h1>
    </div>
    <div class="row">
        <%= render 'form', account: @account %>
    </div>
</div>

